body {
  margin: 0;
  font-family: system-ui;
  background: #0f1115;
  color: white;
}

.app {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 100%;
  padding: 12px;
  overflow-y: auto;
}

.card {
  background: #1a1f2b;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 10px;
}

.person {
  padding: 10px;
  background: #222838;
  border-radius: 10px;
  margin-top: 6px;
  cursor: pointer;
}

.person:hover {
  background: #2f3750;
}

input, select, button {
  width: 100%;
  margin-top: 6px;
  padding: 8px;
  border-radius: 8px;
  border: none;
}

button {
  background: #2a3142;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #3a435a;
}

hr {
  border: 1px solid #222838;
  margin: 10px 0;
}
